# =====================
# Environment variables
# =====================
.env
.env.*
.env.development
.env.production

# =====================
# Python
# =====================
__pycache__/
*.pyc
venv/
ml_env_312/
.env/

# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
